
<h4>Add product</h4>

<form action="{{ url_for('admin.add_product') }}" method="post" enctype="multipart/form-data">
  <div class="row-2">
    <input type="text" name="title" placeholder="title" required>
    <div style="display: flex; gap: 10px; width: 100%;">
      <input type="text" name="price" placeholder="Narx (so'm)" required>
      <input type="text" name="size" placeholder="razmer (m: 160x200)" required>
    </div>
  </div>

  <div style="height:10px"></div>

  <div class="row-2">
    <input type="text" name="description" placeholder="description">
    <input type="file" name="image" >
    <div style="display: flex; gap: 10px; width: 100%;">
        <input type="number" name="discount_percent" min="0" max="90" value="0" style="width: 50%; display: block;">
        <button style="width: 50%; display: block;" type="submit">Qo'shish</button>
    </div>
  </div>
</form>
<!--------------------------------------------------------------------------->
<h4 style="margin-top:18px;">Search & Filter</h4>

<form method="get" action="{{ url_for('admin.products') }}">
  <div class="row-2">
    <input style="width: 100%;" type="text" name="q" placeholder="Search by title/size/description"
           value="{{ request.args.get('q','') }}">

   <div style="display: flex; gap: 10px; width: 100%;">
     <select name="size">
      <option value="">Barcha razmerlar</option>
      {% for s in sizes %}
        {% set selected_size = (request.args.get('size') or '')|trim %}
        <option value="{{ s }}" {% if selected_size == (s|trim) %}selected{% endif %}>
          {{ s }}
        </option>
      {% endfor %}
    </select>

    <select name="sort">
      {% set cur_sort = request.args.get('sort','new') %}
      <option value="new" {% if cur_sort=='new' %}selected{% endif %}>Eng yangi</option>
      <option value="price_asc" {% if cur_sort=='price_asc' %}selected{% endif %}>Arzonidan</option>
      <option value="price_desc" {% if cur_sort=='price_desc' %}selected{% endif %}>Qimmatidan</option>
      <option value="discount_desc" {% if cur_sort=='discount_desc' %}selected{% endif %}>Chegirmalisidan</option>
    </select>
   </div>
  </div>

  <div style="height:10px"></div>

  <div class="row-2">
    <div style="display: flex; gap: 10px; width: 100%;">
        <input type="number" name="min_price" placeholder="Narx dan:"
           value="{{ request.args.get('min_price','') }}">

        <input type="number" name="max_price" placeholder="Narx gacha:"
           value="{{ request.args.get('max_price','') }}">
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px; width: 100%;">
        <label style="color: var(--muted);">Faqat chegirmali</label>
        <input style="width: 20px;" type="checkbox" name="discount" value="1"
            {% if request.args.get('discount') == '1' %}checked{% endif %}>

        <button style="width: 30%;" type="submit">Qo'llash</button>
        
        <a style="padding: 10px 14px; width: 30%; justify-content: center; border-radius: 12px;" class="badge" href="{{ url_for('admin.products') }}">Qaytarish</a>
    </div>
  </div>

</form>

<!-- ---------------------------------------------------------------------- -->

<h4 style="margin-top:18px;">Products</h4>

{% if products %}
  <div class="table-wrap">
    <table>
      <tr>
        <th>ID</th>
        <th>Images</th>
        <th>Title</th>
        <th>Size</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Description</th>
      </tr>

      {% for product in products %}
      <tr>
        <td>{{ loop.index }}</td>

        <td>
          {% if product.image %}
            <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" 
                 class="admin-product-img"

                 data-id="{{ product.id }}"
                 data-title="{{ product.title }}"
                 data-size="{{ product.size }}"
                 data-price="{{ product.price | int}}"
                 data-discount="{{ product.discount_percent or 0 }}"
                 data-description="{{ product.description or '' }}"
                 data-image="{{ product.image }}"
            >
          {% endif %}
        </td>

        <td style="min-width: 220px;">{{ product.title }}</td>
        <td><span class="badge">{{ product.size }}</span></td>
        <td style="min-width: 95px;">{{ product.price | uzs }}</td>

        <td>
          <form action="{{ url_for('admin.set_discount', product_id=product.id) }}" method="post" style="display:flex; gap:10px; align-items:center;">
            <input type="number" name="discount_percent" min="0" max="90"
                   value="{{ product.discount_percent or 0 }}" style="width:70px;">
            <button class="table-btn" type="submit">Set</button>
          </form>
        </td>

        <td class="desc-cell">
          <span class="desc-text"
                data-title="{{ product.title }}"
                data-desc="{{ product.description|e }}">
            {{ product.description }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- modal product edit -->
  <div class="modal" id="editModal">
    <div class="modal-card">
      <div class="modal-head">
        <div class="modal-title">Edit Product</div>
        <button type="button" class="x" id="editClose">✕</button>
      </div>

      <form method="post" id="editForm">
        <div class="modal-body edit">

          <input type="hidden" name="product_id" id="editId">

          <input type="text" name="title" id="editTitle" placeholder="Title">
          <div style="display: flex; gap: 15px;">
            <input type="text" name="size" id="editSize" placeholder="Size">
            <input type="number" name="price" id="editPrice" placeholder="Price">
          </div>

          <div style="display: flex; align-items: center; gap: 15px;">
            <label for="">Chegirma</label>
            <input type="number" name="discount_percent" id="editDiscount" placeholder="Discount %">
          </div>

          <textarea name="description" rows="10" id="editDescription" placeholder="Description"></textarea>

          <div class="modal-actions">
            <button type="submit">Saqlash</button>
            <button type="button" class="danger" id="deleteBtn">Delete</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  

  <!-- Modal description view -->
  <div class="modal" id="descModal">
    <div class="modal-card">
      <div class="modal-head">
        <div class="modal-title" id="modalTitle">Description</div>
        <button class="modal-close" type="button" id="modalClose">Close</button>
      </div>
      <div class="modal-body" id="modalBody"></div>
    </div>
  </div>


{% else %}
  <p>Hali mahsulot yo'q</p>
{% endif %}
