<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-main.css') }}">
    <title>{% block title %}Matraslar{% endblock %}</title>
</head>
<body>
    <a href="#" target="_blank" class="fab-call tg" id="global_tg">
        <svg viewBox="0 0 24 24" width="22">
            <path fill="currentColor"
            d="M9.04 15.57l-.38 5.35c.54 0 .77-.23 1.05-.5l2.52-2.41 5.22 3.82c.96.53 1.64.25 1.9-.89l3.44-16.12h.01c.32-1.49-.54-2.07-1.47-1.72L1.7 9.7c-1.46.57-1.44 1.39-.25 1.76l5.3 1.66L19.02 6.1c.58-.35 1.11-.16.68.19"/>
        </svg>
    </a>
    <a class="fab-call" href="#" aria-label="Qo‘ng‘iroq qilish">
    <svg viewBox="0 0 24 24" width="22" height="22" fill="currentColor" aria-hidden="true">
        <path d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1C10.85 21 3 13.15 3 3a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.46.57 3.58a1 1 0 0 1-.25 1.01l-2.2 2.2z"/>
    </svg>
    </a>
    <header class="shop-header">
    
        <div class="topbar">
            <a href="{{ url_for('home.index') }}" class="logo">Eco Spine</a>
            
        <form id="filtersForm" method="get" action="{{ url_for('home.index') }}" class="search-bar">
            <input type="text" name="q" placeholder="Qidirish..." value="{{ request.args.get('q','') }}">
            <button style="padding: 0; background: none; width: 30px; height: 30px;" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="26" height="26" viewBox="0 0 256 256" xml:space="preserve">
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                        <circle cx="45" cy="45" r="45" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(25,52,127); fill-rule: nonzero; opacity: 1;" />
                        <path d="M 39.205 56.741 c -4.518 0 -9.035 -1.72 -12.475 -5.159 c -6.879 -6.879 -6.879 -18.072 0 -24.95 c 6.877 -6.878 18.071 -6.879 24.95 0 v 0 c 6.878 6.878 6.878 18.071 0 24.95 C 48.24 55.021 43.723 56.741 39.205 56.741 z M 39.205 27.47 c -2.981 0 -5.962 1.135 -8.232 3.404 c -4.539 4.539 -4.539 11.925 0 16.465 c 4.539 4.538 11.925 4.538 16.465 0 c 4.539 -4.54 4.539 -11.926 0 -16.466 C 45.167 28.605 42.186 27.47 39.205 27.47 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                        <path d="M 65.276 68.179 c -0.768 0 -1.535 -0.293 -2.121 -0.879 L 47.438 51.582 c -1.172 -1.171 -1.172 -3.071 0 -4.242 c 1.172 -1.172 3.07 -1.172 4.242 0 l 15.718 15.718 c 1.172 1.171 1.172 3.071 0 4.242 C 66.812 67.886 66.044 68.179 65.276 68.179 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    </g>
                </svg>
            </button>

            <!-- sort hidden (chunki sort select alohida) -->
            <input type="hidden" name="sort" id="sortInput" value="{{ request.args.get('sort','new') }}">

            <!-- price hidden -->
            <input type="hidden" name="min_price" id="minPriceInput" value="{{ request.args.get('min_price','') }}">
            <input type="hidden" name="max_price" id="maxPriceInput" value="{{ request.args.get('max_price','') }}">

            <!-- sizes hiddenlar JS orqali generatsiya qilinadi (apply bosilganda) -->
            <div id="sizesHiddenContainer"></div>
        </form>
        <a href="{{ url_for('admin.admin_panel') }}">admin</a>
    </div>
    </header>


   <div class="page-container">
        <div class="hero">
            <h1>Matras turlari — razmer, qalinlik, narx</h1>
            <p>Qo‘ng‘iroq qilganingizda javob bera olmasak, ma’lumot qoldiring — tez orada o‘zimiz bog‘lanamiz.</p>

            <div class="hero-actions">
                <a class="btn btn-primary" href="tel:+998913573363">📞 Qo‘ng‘iroq qilish</a>
                <a class="btn" href="#callback">✍️ Ma’lumot qoldirish</a>
            </div>
        </div>
    
        {% block body %}{% endblock %}
        <div class="section">
            <div class="notice">
            <b style="color:#e7eef8">Zakaz uchun:</b> qo‘ng‘iroq qiling. Agar javob bera olmasak, pastdagi forma orqali ma’lumot qoldiring.
            </div>
        </div>
        <form class="form" action="#" method="post" id="callback">
        <input name="name" placeholder="Ismingiz" required>
        <input name="phone" placeholder="Telefon raqam" required>
        <input name="message" placeholder="Qisqacha izoh (ixtiyoriy)">
        <button class="btn btn-primary" type="submit">Yuborish</button>
        </form>
   </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>